template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  University web crawler for AI agent knowledge base.
  Scrapes university websites and stores content for RAG pipeline.

# =============================================================================
# PARAMETERS — Values you can change at deploy time
# =============================================================================
Parameters:
  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, staging, prod]
    Description: Deployment environment

  UniversityId:
    Type: String
    Default: phc
    Description: Default university identifier

# =============================================================================
# GLOBALS — Shared settings across all Lambda functions
# =============================================================================
Globals:
  Function:
    Runtime: python3.12
    Architectures:
      - arm64
    Timeout: 300
    MemorySize: 512
    Environment:
      Variables:
        ENVIRONMENT: !Ref Environment
        CONTENT_BUCKET: !Ref ContentBucket
        URL_REGISTRY_TABLE: !Ref UrlRegistryTable
        ROBOTS_CACHE_TABLE: !Ref RobotsCacheTable
        RATE_LIMITS_TABLE: !Ref RateLimitsTable
        ENTITY_STORE_TABLE: !Ref EntityStoreTable
        CRAWL_QUEUE_URL: !Ref CrawlQueue
        PROCESSING_QUEUE_URL: !Ref ProcessingQueue
        PDF_PROCESSING_QUEUE_URL: !Ref PdfProcessingQueue
        PIPELINE_JOBS_TABLE: !Ref PipelineJobsTable
        BATCH_CLASSIFIER_FUNCTION: !Sub "batch-classifier-prepare-${Environment}"
        USER_AGENT: "InfinizeBot/1.0 (University Knowledge Base Crawler)"

# =============================================================================
# RESOURCES — All AWS infrastructure
# =============================================================================
Resources:

  # ===========================================================================
  # S3 BUCKET — Stores raw HTML and processed content
  # ===========================================================================
  ContentBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "university-kb-content-${AWS::AccountId}-${Environment}"
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: raw-html-tiering
            Prefix: "raw-html/"
            Status: Enabled
            Transitions:
              - StorageClass: INTELLIGENT_TIERING
                TransitionInDays: 30
          - Id: cleanup-old-versions
            Status: Enabled
            NoncurrentVersionExpiration:
              NoncurrentDays: 90

  # ===========================================================================
  # DYNAMODB — URL Registry (tracks crawl state for every URL)
  # ===========================================================================
  UrlRegistryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "url-registry-${Environment}"
      BillingMode: PAY_PER_REQUEST
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      AttributeDefinitions:
        - AttributeName: url
          AttributeType: S
        - AttributeName: domain
          AttributeType: S
        - AttributeName: crawl_status
          AttributeType: S
        - AttributeName: last_crawled_at
          AttributeType: S
        - AttributeName: university_id
          AttributeType: S
        - AttributeName: page_category
          AttributeType: S
      KeySchema:
        - AttributeName: url
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: domain-status-index
          KeySchema:
            - AttributeName: domain
              KeyType: HASH
            - AttributeName: crawl_status
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: status-lastcrawled-index
          KeySchema:
            - AttributeName: crawl_status
              KeyType: HASH
            - AttributeName: last_crawled_at
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: university-status-index
          KeySchema:
            - AttributeName: university_id
              KeyType: HASH
            - AttributeName: crawl_status
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: university-category-index
          KeySchema:
            - AttributeName: university_id
              KeyType: HASH
            - AttributeName: page_category
              KeyType: RANGE
          Projection:
            ProjectionType: INCLUDE
            NonKeyAttributes:
              - url
              - url_hash
              - domain
              - subcategory
              - processing_status
              - crawl_status
              - content_type
              - content_length
              - last_crawled_at
              - s3_key

  # ===========================================================================
  # DYNAMODB — Entity Store (structured facts for direct lookup)
  # ===========================================================================
  EntityStoreTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "entity-store-${Environment}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: university_id
          AttributeType: S
        - AttributeName: entity_key
          AttributeType: S
        - AttributeName: entity_type
          AttributeType: S
      KeySchema:
        - AttributeName: university_id
          KeyType: HASH
        - AttributeName: entity_key
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: entity-type-index
          KeySchema:
            - AttributeName: university_id
              KeyType: HASH
            - AttributeName: entity_type
              KeyType: RANGE
          Projection:
            ProjectionType: ALL

  # ===========================================================================
  # DYNAMODB — Rate Limits (per-domain crawl throttling)
  # ===========================================================================
  RateLimitsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "crawl-rate-limits-${Environment}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: domain
          AttributeType: S
      KeySchema:
        - AttributeName: domain
          KeyType: HASH

  # ===========================================================================
  # DYNAMODB — Robots.txt Cache
  # ===========================================================================
  RobotsCacheTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "robots-cache-${Environment}"
      BillingMode: PAY_PER_REQUEST
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      AttributeDefinitions:
        - AttributeName: domain
          AttributeType: S
      KeySchema:
        - AttributeName: domain
          KeyType: HASH

  # ===========================================================================
  # DYNAMODB — Pipeline Jobs (tracks crawl+clean+classify lifecycle)
  # ===========================================================================
  PipelineJobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "pipeline-jobs-${Environment}"
      BillingMode: PAY_PER_REQUEST
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      AttributeDefinitions:
        - AttributeName: job_id
          AttributeType: S
        - AttributeName: university_id
          AttributeType: S
        - AttributeName: created_at
          AttributeType: S
      KeySchema:
        - AttributeName: job_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: university-created-index
          KeySchema:
            - AttributeName: university_id
              KeyType: HASH
            - AttributeName: created_at
              KeyType: RANGE
          Projection:
            ProjectionType: ALL

  # ===========================================================================
  # SQS — Crawl Queue (FIFO for URL deduplication)
  # ===========================================================================
  CrawlDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "crawl-dlq-${Environment}.fifo"
      FifoQueue: true
      MessageRetentionPeriod: 1209600  # 14 days

  CrawlQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "crawl-queue-${Environment}.fifo"
      FifoQueue: true
      ContentBasedDeduplication: true
      VisibilityTimeout: 360  # 6 minutes (slightly longer than Lambda timeout)
      MessageRetentionPeriod: 604800  # 7 days
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt CrawlDeadLetterQueue.Arn
        maxReceiveCount: 3

  # ===========================================================================
  # SQS — Processing Queue (feeds Week 3-4 content pipeline)
  # ===========================================================================
  ProcessingDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "processing-dlq-${Environment}"
      MessageRetentionPeriod: 1209600  # 14 days

  ProcessingQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "processing-queue-${Environment}"
      VisibilityTimeout: 900  # 15 minutes
      MessageRetentionPeriod: 604800  # 7 days
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt ProcessingDeadLetterQueue.Arn
        maxReceiveCount: 3

  PdfProcessingDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "pdf-processing-dlq-${Environment}"
      MessageRetentionPeriod: 1209600  # 14 days

  PdfProcessingQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "pdf-processing-queue-${Environment}"
      VisibilityTimeout: 900  # 15 minutes
      MessageRetentionPeriod: 604800  # 7 days
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt PdfProcessingDeadLetterQueue.Arn
        maxReceiveCount: 3

  # ===========================================================================
  # LAMBDA — Seed Discovery Function
  # ===========================================================================
  SeedDiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "university-seed-discovery-${Environment}"
      Handler: handler.lambda_handler
      CodeUri: lambdas/seed-discovery/
      Timeout: 600  # 10 minutes — sitemap parsing can be slow
      MemorySize: 512
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref UrlRegistryTable
        - DynamoDBCrudPolicy:
            TableName: !Ref RobotsCacheTable
        - SQSSendMessagePolicy:
            QueueName: !GetAtt CrawlQueue.QueueName

  # ===========================================================================
  # LAMBDA — Crawler Worker Function
  # ===========================================================================
  CrawlerWorkerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "university-crawler-worker-${Environment}"
      Handler: handler.lambda_handler
      CodeUri: lambdas/crawler-worker/
      Timeout: 300  # 5 minutes per page
      MemorySize: 1024
      # ReservedConcurrentExecutions: 20  # Controls crawl parallelism
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref UrlRegistryTable
        - DynamoDBCrudPolicy:
            TableName: !Ref RobotsCacheTable
        - DynamoDBCrudPolicy:
            TableName: !Ref RateLimitsTable
        - SQSSendMessagePolicy:
            QueueName: !GetAtt CrawlQueue.QueueName
        - SQSSendMessagePolicy:
            QueueName: !GetAtt ProcessingQueue.QueueName
        - SQSSendMessagePolicy:
            QueueName: !GetAtt PdfProcessingQueue.QueueName
      Events:
        CrawlQueueEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt CrawlQueue.Arn
            BatchSize: 1
            ScalingConfig:
              MaximumConcurrency: 10

  # ===========================================================================
  # LAMBDA — Refresh Trigger Function (API handler)
  # ===========================================================================
  RefreshTriggerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "university-refresh-trigger-${Environment}"
      Handler: handler.lambda_handler
      CodeUri: lambdas/refresh-trigger/
      Timeout: 60
      MemorySize: 256
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref CrawlStateMachine
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref UrlRegistryTable
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt CrawlStateMachine.Name
      Events:
        RefreshApi:
          Type: Api
          Properties:
            Path: /crawl/refresh
            Method: POST
            RestApiId: !Ref CrawlerApi
        StatusApi:
          Type: Api
          Properties:
            Path: /crawl/status/{execution_id}
            Method: GET
            RestApiId: !Ref CrawlerApi

  # ===========================================================================
  # LAMBDA — Crawl Orchestrator Function (Step Functions tasks)
  # ===========================================================================
  CrawlOrchestratorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "university-crawl-orchestrator-${Environment}"
      Handler: handler.lambda_handler
      CodeUri: lambdas/crawl-orchestrator/
      Timeout: 900  # 15 minutes for scanning stale URLs
      MemorySize: 512
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref UrlRegistryTable
        - DynamoDBCrudPolicy:
            TableName: !Ref RobotsCacheTable
        - DynamoDBCrudPolicy:
            TableName: !Ref EntityStoreTable
        - SQSSendMessagePolicy:
            QueueName: !GetAtt CrawlQueue.QueueName
        - SQSPollerPolicy:
            QueueName: !GetAtt CrawlQueue.QueueName
        - SQSPollerPolicy:
            QueueName: !GetAtt ProcessingQueue.QueueName
        - DynamoDBCrudPolicy:
            TableName: !Ref PipelineJobsTable
        - LambdaInvokePolicy:
            FunctionName: !Ref BatchClassifierPrepareFunction

  # -----------------------------------------------------------
  # NEW: Content Cleaner Lambda
  # -----------------------------------------------------------
  ContentCleanerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "content-cleaner-${Environment}"
      CodeUri: lambdas/content-cleaner/
      Handler: handler.handler
      MemorySize: 3008
      Timeout: 300
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref UrlRegistryTable
        - DynamoDBCrudPolicy:
            TableName: !Ref EntityStoreTable
      Events:
        ProcessingQueueEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt ProcessingQueue.Arn
            BatchSize: 5
            MaximumBatchingWindowInSeconds: 30
            FunctionResponseTypes:
              - ReportBatchItemFailures
            ScalingConfig:
              MaximumConcurrency: 10

  # -----------------------------------------------------------
  # PDF Processor Lambda
  # -----------------------------------------------------------
  PdfProcessorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "pdf-processor-${Environment}"
      CodeUri: lambdas/pdf-processor/
      Handler: handler.handler
      MemorySize: 512
      Timeout: 120
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref UrlRegistryTable
      Events:
        PdfProcessingQueueEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt PdfProcessingQueue.Arn
            BatchSize: 5
            MaximumBatchingWindowInSeconds: 30
            FunctionResponseTypes:
              - ReportBatchItemFailures
            ScalingConfig:
              MaximumConcurrency: 5

  # -----------------------------------------------------------
  # Batch Classifier — Prepare (generates JSONL, submits batch job)
  # -----------------------------------------------------------
  BatchClassifierPrepareFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "batch-classifier-prepare-${Environment}"
      CodeUri: lambdas/batch-classifier-prepare/
      Handler: handler.handler
      MemorySize: 2048
      Timeout: 900  # 15 minutes — reads many S3 files
      Environment:
        Variables:
          BEDROCK_BATCH_ROLE_ARN: !GetAtt BedrockBatchRole.Arn
          CLASSIFIER_MODEL_ID: "anthropic.claude-3-haiku-20240307-v1:0"
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBReadPolicy:
            TableName: !Ref UrlRegistryTable
        - Statement:
            - Effect: Allow
              Action:
                - bedrock:CreateModelInvocationJob
                - bedrock:TagResource
              Resource: "*"
            - Effect: Allow
              Action:
                - iam:PassRole
              Resource: !GetAtt BedrockBatchRole.Arn

  # -----------------------------------------------------------
  # Batch Classifier — Process (reads batch output, writes sidecars)
  # -----------------------------------------------------------
  BatchClassifierProcessFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "batch-classifier-process-${Environment}"
      CodeUri: lambdas/batch-classifier-process/
      Handler: handler.handler
      MemorySize: 2048
      Timeout: 900  # 15 minutes — writes many sidecars + DynamoDB
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref UrlRegistryTable
        - DynamoDBCrudPolicy:
            TableName: !Ref EntityStoreTable
        - Statement:
            - Effect: Allow
              Action:
                - bedrock:GetModelInvocationJob
              Resource: "*"

  # -----------------------------------------------------------
  # IAM Role for Bedrock Batch Inference (S3 access)
  # -----------------------------------------------------------
  BedrockBatchRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "bedrock-batch-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: bedrock.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${ContentBucket}/*"
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:aws:s3:::${ContentBucket}"

  # -----------------------------------------------------------
  # EventBridge — Auto-trigger process Lambda on batch completion
  # -----------------------------------------------------------
  BatchJobCompletionRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "batch-classifier-completion-${Environment}"
      Description: Trigger batch classifier processing when Bedrock job completes
      EventPattern:
        source:
          - aws.bedrock
        detail-type:
          - "Batch Inference Job State Change"
        detail:
          status:
            - "Completed"
            - "PartiallyCompleted"
      Targets:
        - Arn: !GetAtt BatchClassifierProcessFunction.Arn
          Id: ProcessBatchResults

  BatchProcessEventPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref BatchClassifierProcessFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt BatchJobCompletionRule.Arn



  # ===========================================================================
  # LAMBDA — Dashboard API (frontend-facing endpoints)
  # ===========================================================================
  DashboardApiFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "dashboard-api-${Environment}"
      Handler: handler.lambda_handler
      CodeUri: lambdas/dashboard-api/
      Timeout: 60
      MemorySize: 512
      Environment:
        Variables:
          PIPELINE_JOBS_TABLE: !Ref PipelineJobsTable
          ENTITY_STORE_TABLE: !Ref EntityStoreTable
          STATE_MACHINE_ARN: !Ref CrawlStateMachine
          BATCH_CLASSIFIER_FUNCTION: !Ref BatchClassifierPrepareFunction
          STAGE: !Ref Environment
          CRAWL_DLQ_URL: !Ref CrawlDeadLetterQueue
          PROCESSING_DLQ_URL: !Ref ProcessingDeadLetterQueue
          PDF_PROCESSING_DLQ_URL: !Ref PdfProcessingDeadLetterQueue
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref UrlRegistryTable
        - DynamoDBCrudPolicy:
            TableName: !Ref PipelineJobsTable
        - DynamoDBCrudPolicy:
            TableName: !Ref EntityStoreTable
        - S3CrudPolicy:
            BucketName: !Ref ContentBucket
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt CrawlStateMachine.Name
        - SQSSendMessagePolicy:
            QueueName: !GetAtt CrawlQueue.QueueName
        - SQSSendMessagePolicy:
            QueueName: !GetAtt ProcessingQueue.QueueName
        - SQSSendMessagePolicy:
            QueueName: !GetAtt PdfProcessingQueue.QueueName
        - Statement:
            - Effect: Allow
              Action:
                - states:ListExecutions
                - states:DescribeExecution
                - states:StopExecution
              Resource:
                - !Ref CrawlStateMachine
                - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:execution:${CrawlStateMachine.Name}:*"
            - Effect: Allow
              Action:
                - sqs:GetQueueAttributes
              Resource:
                - !GetAtt CrawlQueue.Arn
                - !GetAtt ProcessingQueue.Arn
            - Effect: Allow
              Action:
                - sqs:ReceiveMessage
                - sqs:GetQueueAttributes
              Resource:
                - !GetAtt CrawlDeadLetterQueue.Arn
                - !GetAtt ProcessingDeadLetterQueue.Arn
                - !GetAtt PdfProcessingDeadLetterQueue.Arn
            - Effect: Allow
              Action:
                - lambda:InvokeFunction
              Resource:
                - !GetAtt BatchClassifierPrepareFunction.Arn
            - Effect: Allow
              Action:
                - bedrock:ListKnowledgeBases
                - bedrock:GetKnowledgeBase
                - bedrock:StartIngestionJob
                - bedrock:ListIngestionJobs
                - bedrock:GetIngestionJob
                - bedrock:ListDataSources
                - bedrock:ListModelInvocationJobs
                - bedrock:GetModelInvocationJob
                - bedrock-agent:StartIngestionJob
                - bedrock-agent:ListIngestionJobs
                - bedrock-agent:GetIngestionJob
                - bedrock-agent:ListDataSources
              Resource: "*"
      Events:
        UniversitiesList:
          Type: Api
          Properties:
            Path: /v1/universities
            Method: GET
            RestApiId: !Ref CrawlerApi
        UniversityStats:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/stats
            Method: GET
            RestApiId: !Ref CrawlerApi
        CategoriesList:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories
            Method: GET
            RestApiId: !Ref CrawlerApi
        CategoryPagesGet:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories/{cat}/pages
            Method: GET
            RestApiId: !Ref CrawlerApi
        CategoryPagesPost:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories/{cat}/pages
            Method: POST
            RestApiId: !Ref CrawlerApi
        CategoryPagesDelete:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories/{cat}/pages
            Method: DELETE
            RestApiId: !Ref CrawlerApi
        CategoryMediaUpload:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories/{cat}/media/upload-url
            Method: POST
            RestApiId: !Ref CrawlerApi
        CategoryMediaProcess:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories/{cat}/media/process
            Method: POST
            RestApiId: !Ref CrawlerApi
        PipelineStart:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/pipeline
            Method: POST
            RestApiId: !Ref CrawlerApi
        PipelineList:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/pipeline
            Method: GET
            RestApiId: !Ref CrawlerApi
        PipelineStatus:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/pipeline/{job_id}
            Method: GET
            RestApiId: !Ref CrawlerApi
        KbSyncStart:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/kb/sync
            Method: POST
            RestApiId: !Ref CrawlerApi
        KbSyncStatus:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/kb/sync
            Method: GET
            RestApiId: !Ref CrawlerApi
        ClassificationStatus:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/classification
            Method: GET
            RestApiId: !Ref CrawlerApi
        UniversityConfigGet:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/config
            Method: GET
            RestApiId: !Ref CrawlerApi
        UniversityConfigPost:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/config
            Method: POST
            RestApiId: !Ref CrawlerApi
        CategoryRename:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories/{cat}/rename
            Method: POST
            RestApiId: !Ref CrawlerApi
        CategoryDelete:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/categories/{cat}/delete
            Method: POST
            RestApiId: !Ref CrawlerApi
        UniversityReset:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/reset
            Method: POST
            RestApiId: !Ref CrawlerApi
        ApiDocs:
          Type: Api
          Properties:
            Path: /docs
            Method: GET
            RestApiId: !Ref CrawlerApi
        ApiRedoc:
          Type: Api
          Properties:
            Path: /redoc
            Method: GET
            RestApiId: !Ref CrawlerApi
        ApiOpenApiJson:
          Type: Api
          Properties:
            Path: /openapi.json
            Method: GET
            RestApiId: !Ref CrawlerApi
        DlqInspect:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/dlq
            Method: GET
            RestApiId: !Ref CrawlerApi
        FreshnessGet:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/freshness
            Method: GET
            RestApiId: !Ref CrawlerApi
        FreshnessPost:
          Type: Api
          Properties:
            Path: /v1/universities/{uid}/freshness
            Method: POST
            RestApiId: !Ref CrawlerApi

  # ===========================================================================
  # API GATEWAY
  # ===========================================================================
  CrawlerApi:
    Type: AWS::Serverless::Api
    Properties:
      Name: !Sub "university-crawler-api-${Environment}"
      StageName: !Ref Environment
      Description: API for triggering and monitoring university crawls
      Cors:
        AllowMethods: "'GET,POST,DELETE,OPTIONS'"
        AllowHeaders: "'Content-Type,X-Api-Key,Authorization'"
        AllowOrigin: "'*'"

  # ===========================================================================
  # STEP FUNCTIONS — Crawl Orchestration State Machine
  # ===========================================================================
  CrawlStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "crawl-statemachine-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdas
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt SeedDiscoveryFunction.Arn
                  - !GetAtt CrawlOrchestratorFunction.Arn

  CrawlStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "university-crawl-orchestrator-${Environment}"
      RoleArn: !GetAtt CrawlStateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "University crawl orchestration workflow",
          "StartAt": "ValidateRequest",
          "States": {
            "ValidateRequest": {
              "Type": "Task",
              "Resource": "${CrawlOrchestratorFunction.Arn}",
              "Parameters": {
                "task": "validate_request",
                "input.$": "$"
              },
              "ResultPath": "$.validation",
              "Next": "IsRequestValid",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "CrawlFailed",
                "ResultPath": "$.error"
              }]
            },
            "IsRequestValid": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.validation.is_valid",
                  "StringEquals": "true",
                  "Next": "CheckRefreshMode"
                }
              ],
              "Default": "CrawlFailed"
            },
            "CheckRefreshMode": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.validation.refresh_mode",
                  "StringEquals": "full",
                  "Next": "DiscoverSeeds"
                },
                {
                  "Variable": "$.validation.refresh_mode",
                  "StringEquals": "incremental",
                  "Next": "QueueStaleUrls"
                }
              ],
              "Default": "DiscoverSeeds"
            },
            "DiscoverSeeds": {
              "Type": "Task",
              "Resource": "${SeedDiscoveryFunction.Arn}",
              "Parameters": {
                "university_id.$": "$.university_id",
                "refresh_mode.$": "$.validation.refresh_mode",
                "domain_filter.$": "$.validation.domain"
              },
              "ResultPath": "$.discovery",
              "Next": "WaitForCrawl",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "CrawlFailed",
                "ResultPath": "$.error"
              }]
            },
            "QueueStaleUrls": {
              "Type": "Task",
              "Resource": "${CrawlOrchestratorFunction.Arn}",
              "Parameters": {
                "task": "queue_stale_urls",
                "university_id.$": "$.university_id",
                "refresh_mode.$": "$.validation.refresh_mode",
                "domain_filter.$": "$.validation.domain"
              },
              "ResultPath": "$.queued",
              "Next": "WaitForCrawl",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "CrawlFailed",
                "ResultPath": "$.error"
              }]
            },
            "WaitForCrawl": {
              "Type": "Wait",
              "Seconds": 120,
              "Next": "CheckCrawlProgress"
            },
            "CheckCrawlProgress": {
              "Type": "Task",
              "Resource": "${CrawlOrchestratorFunction.Arn}",
              "Parameters": {
                "task": "check_progress",
                "university_id.$": "$.university_id"
              },
              "ResultPath": "$.progress",
              "Next": "IsCrawlComplete",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "CrawlFailed",
                "ResultPath": "$.error"
              }]
            },
            "IsCrawlComplete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.progress.is_complete",
                  "StringEquals": "true",
                  "Next": "ShouldClassify"
                }
              ],
              "Default": "WaitForCrawl"
            },
            "ShouldClassify": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.validation.refresh_mode",
                  "StringEquals": "incremental",
                  "Next": "GenerateSummary"
                }
              ],
              "Default": "TriggerClassification"
            },
            "TriggerClassification": {
              "Type": "Task",
              "Resource": "${CrawlOrchestratorFunction.Arn}",
              "Parameters": {
                "task": "trigger_classification",
                "university_id.$": "$.university_id",
                "job_id.$": "$$.Execution.Name"
              },
              "ResultPath": "$.classification",
              "Next": "GenerateSummary",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "GenerateSummary",
                "ResultPath": "$.classification_error"
              }]
            },
            "GenerateSummary": {
              "Type": "Task",
              "Resource": "${CrawlOrchestratorFunction.Arn}",
              "Parameters": {
                "task": "generate_summary",
                "university_id.$": "$.university_id"
              },
              "ResultPath": "$.summary",
              "Next": "CrawlComplete"
            },
            "CrawlComplete": {
              "Type": "Succeed"
            },
            "CrawlFailed": {
              "Type": "Fail",
              "Cause": "Crawl validation or execution failed",
              "Error": "CrawlError"
            }
          }
        }

  # ===========================================================================
  # ===========================================================================
  # LAMBDA — Crawl Scheduler (multi-university, freshness-aware)
  # ===========================================================================
  CrawlSchedulerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "crawl-scheduler-${Environment}"
      Handler: handler.lambda_handler
      CodeUri: lambdas/crawl-scheduler/
      Timeout: 300
      MemorySize: 256
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref CrawlStateMachine
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref ContentBucket
        - DynamoDBReadPolicy:
            TableName: !Ref EntityStoreTable
        - DynamoDBReadPolicy:
            TableName: !Ref PipelineJobsTable
        - Statement:
            - Effect: Allow
              Action:
                - states:StartExecution
              Resource: !Ref CrawlStateMachine
      Events:
        DailyIncremental:
          Type: Schedule
          Properties:
            Schedule: "cron(0 2 * * ? *)"   # 2 AM UTC daily
            Description: "Daily incremental crawl — freshness-aware, all universities"
            Input: '{"refresh_mode": "incremental"}'
            Enabled: true
        WeeklyFull:
          Type: Schedule
          Properties:
            Schedule: "cron(0 3 ? * SUN *)"  # 3 AM UTC every Sunday
            Description: "Weekly full crawl — all universities"
            Input: '{"refresh_mode": "full"}'
            Enabled: true

# =============================================================================
# OUTPUTS — Important values after deployment
# =============================================================================
Outputs:
  ApiEndpoint:
    Description: API Gateway endpoint URL
    Value: !Sub "https://${CrawlerApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}"

  ContentBucketName:
    Description: S3 bucket for crawled content
    Value: !Ref ContentBucket

  CrawlQueueUrl:
    Description: SQS FIFO queue URL for crawl URLs
    Value: !Ref CrawlQueue

  ProcessingQueueUrl:
    Description: SQS queue URL for HTML processing pipeline
    Value: !Ref ProcessingQueue

  PdfProcessingQueueUrl:
    Description: SQS queue URL for PDF processing pipeline
    Value: !Ref PdfProcessingQueue

  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !Ref CrawlStateMachine

  UrlRegistryTableName:
    Description: DynamoDB URL registry table name
    Value: !Ref UrlRegistryTable
    
  ContentCleanerFunction:
    Description: "Content Cleaner Lambda ARN"
    Value: !GetAtt ContentCleanerFunction.Arn
  PdfProcessorFunction:
    Description: "PDF Processor Lambda ARN"
    Value: !GetAtt PdfProcessorFunction.Arn
  BatchClassifierPrepareFunction:
    Description: "Batch Classifier Prepare Lambda ARN"
    Value: !GetAtt BatchClassifierPrepareFunction.Arn
  BatchClassifierProcessFunction:
    Description: "Batch Classifier Process Lambda ARN"
    Value: !GetAtt BatchClassifierProcessFunction.Arn
  BedrockBatchRoleArn:
    Description: "IAM Role ARN for Bedrock batch inference"
    Value: !GetAtt BedrockBatchRole.Arn
  PipelineJobsTableName:
    Description: "Pipeline jobs tracking table"
    Value: !Ref PipelineJobsTable
  DashboardApiArn:
    Description: "Dashboard API Lambda ARN"
    Value: !GetAtt DashboardApiFunction.Arn